@mixin devices ($breakpoint) {

  @if $breakpoint ==mobile {
    @media only screen and (max-width: 400px) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media only screen and (max-width: 992px) {
      @content;
    }
  }

}

$primary: #4689CC;
$secondary: mix(black, $primary, 75%);
$tertiary: mix(white, $primary, 75%);